<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  <% end %>
      </ul>
    </div>
<% end %>

<<<<<<< HEAD
  <% current_user.profile.each do |item|%>
    <% @post.profile_id = item.id %>
      <% break %>
  <%end%>


=======
>>>>>>> 40cff4763c3a52074bf254e3f88a96780159e853
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

<<<<<<< HEAD
  <div class="field" style="display: none;">
    <% form.label :profile_id %>
    <%= form.text_area :profile_id %>
  </div>

=======
>>>>>>> 40cff4763c3a52074bf254e3f88a96780159e853
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
