<p id="notice"><%= notice %></p>
<div class="barra">
<<<<<<< HEAD
  <h3 style="color:white" align="right">
  <%if user_signed_in? %>
    <% aux = " " %>
    <% current_user.profile.each do |item|%>
      <% aux = "/profiles/" + item.id.to_s %>
      <% break %>
    <%end%>
    <%= current_user.email %> <%=link_to "Meu perfil", aux %> <%=link_to "Sair", destroy_user_session_path, method: :delete%>
  <%else%>
      <%=link_to "Entrar", new_user_session_path%>
      <%=link_to "Inscrever-se", new_user_registration_path%>

  <%end%>
  <%=link_to "Posts", posts_path%>
  </h3>
=======
  <%if user_signed_in? %>
    <h3 style="color:white" align="right"> <%= current_user.email %> <%=link_to "Sair", destroy_user_session_path, method: :delete%><h3>
  <%else%>
    <h3 style="color:white" align="right">
      <%=link_to "Entrar", new_user_session_path%>
      <%=link_to "Inscreverse", new_user_registration_path%>
    </h3>
  <%end%>
>>>>>>> 40cff4763c3a52074bf254e3f88a96780159e853
</div>
</br>
<center>
<%= image_tag 'Pandwitter.png' %>
<<<<<<< HEAD
<h1><%= link_to 'Postar', new_post_path %></h1>
<table>
  <tbody>
    <% @posts.reverse.each do |post| %>
      <tr>
        <td width=50 rowspan="2"><%= image_tag(post.profile.avatar.url(:thumb))%> </td>
        <td colspan="2" height=10 style="vertical-align:bottom"><h3 style="color:blue ">
          <%aux ="/profiles/"+post.profile.id.to_s%>
          <%=link_to post.profile.name, aux %>
        </h3></td>
      </tr>
      <tr>
        <td colspan="2" style="vertical-align:top"> <%=post.profile.user.email%> </td>
=======
<h1></h1>
<%= link_to 'New Post', new_post_path %>
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td width=50 rowspan="2"><%= image_tag('Icon.png', size: "50x50")%> </td>
        <td colspan="2" height=10 style="vertical-align:bottom"><h3 style="color:blue "> Nome de Usuário </h3></td>
      </tr>
      <tr>
        <td colspan="2"> email@email.com </td>
>>>>>>> 40cff4763c3a52074bf254e3f88a96780159e853
      </tr>
      <tr><td colspan="3"><h2><%= post.title %></h2></td></tr>
      <tr><td colspan="3"><%= post.description %></td></tr>
      <tr><td colspan="3"><%=image_tag(post.image.url(:normal)) %></td></tr>
<<<<<<< HEAD
      <%if user_signed_in? %>
        <% current_user.profile.each do |item|%>
          <%if item.id == post.profile.id or current_user.admin?%>
            <td colspan="3">
              <%= link_to 'Mostrar', post %>
              <%= link_to 'Editar', edit_post_path(post) %>
              <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você tem certeza?' } %>
            </td>
            <%break%>
          <%end%>
        <%end%>
      <%end%>
=======
      <td colspan="3">
        <%= link_to 'Mostrar', post %>
        <%= link_to 'Editar', edit_post_path(post) %>
        <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você tem certeza?' } %>
      </td>
>>>>>>> 40cff4763c3a52074bf254e3f88a96780159e853
    <% end %>
  </tbody>
</table>

<br>
</center>
