<<<<<<< HEAD
<p id="notice"><%= notice %></p>
<div class="barra">
  <%aux = " "%>
  <h3 style="color:white" align="right">
  <%if user_signed_in? %>
    <% current_user.profile.each do |item|%>
      <% aux = "/profiles/"+ item.id.to_s %>
        <% break %>
    <%end%>
    <%= current_user.email %> <%= link_to "Meu perfil", aux %> <%=link_to "Sair", destroy_user_session_path, method: :delete%>
  <%else%>
      <%=link_to "Entrar", new_user_session_path%>
      <%=link_to "Inscrever-se", new_user_registration_path%>

  <%end%>
  <%=link_to "Posts", posts_path%>
  </h3>
</div>
</br>
<center>
<h1>Novo Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Posts', posts_path %>
=======
<div class="barra">
  <%if user_signed_in? %>
    <h3 style="color:white" align="right"> <%= current_user.email %> <%=link_to "Sair", destroy_user_session_path, method: :delete%><h3>
  <%else%>
    <h3 style="color:white" align="right">
      <%=link_to "Entrar", new_user_session_path%>
      <%=link_to "Inscreverse", new_user_registration_path%>
    </h3>
  <%end%>
</div>
</br>
<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Voltar', posts_path %>
>>>>>>> 40cff4763c3a52074bf254e3f88a96780159e853
